<section class="p-5">
    <div class="container py-5">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div class="container">
                <img class="img-fluid rounded-5 mt-5" src="images/foto.png" alt="foto" style="height: 300px;">
            </div>
            <div class="col-1"></div>
            <div class="container py-5">
                <h2 class=""> Learn the basics </h2>
                <h3 class="my-4">UI/UX Designer</h3>
                <p class=" my-4">
                    Lorem ipsum dolor sit amet. Qui autem optio ut numquam delectus ea commodi tempore non cumque nihil
                    aut
                    facilis dolores
                    ab eius iusto ex quia voluptatem.
                </p>
                <a href="#" class="btn btn-primary">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-chevron-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </span>
                    Read More
                </a>
            </div>
        </div>
    </div>
</section>